.App {
  background-color: #50a3a2;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}
.App-header {
  margin-bottom: 80px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  justify-content: center;
}
.App h1 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; }
